body {
  background-color: #f7fbfc;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 24cm;
  margin: 10px auto;
}

p {
  line-height: 1.5;
  margin: 0;
}

.language_bar {
  margin: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 200px;
}

.top_langlist {
  margin: 0;
  padding: 0;
  text-align: center;
}

.top_langlist li {
  display: inline-block;
}

.container {
  border-radius: 2%;
  margin: auto;
  position: relative;
  padding: 40px;
  width: 21cm;
}

.first-container {
  /*background-color: #8bcdcd;*/
  background-color: #a8e6cf
}

.link {
  color: #11999E;
  text-decoration: none;
  font-size: 1.2rem;
}

.link:hover {
  color: #EAF6F6
}

.contact {
  margin: 0 30px 0 0;
}

.Lars_img {
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 50px;
  width: 150px;
}

.profile {
  margin-top: 30px;
}

.profile-text {
  width: 75%;
  line-height: 1.5;
}

.second-container {
  /*background-color: #cee397;*/
  background-color: #dcedc1;

}

.education {
  width: 100%;
  margin-bottom: 2rem;
}

.education th {
  margin: 10px;
  text-align: left;
}

.thesis {
  font-size: 1rem;
}

.third-container {
  /*background-color: #f38181;*/
  background-color: #ffd3b6;
}

.work-description {
  width: 80%;
  margin-bottom: 50px;
}

.work-img {
  float: right;
  margin-left: 10px;
  width: 150px;
}

.biology-img {
  width: 120px;
}

.crayfish-img {
  width: 125px;
}

.pinetree-img {
  background-color: lightblue;
  border-radius: 5%;
  float: left;
  margin-right: 15px;
  width: 110px;
}

.fourth-container {
  /*background-color: #fce38a;*/
  background-color: #ffaaa5
}

.languages table {
  margin-bottom: 40px;
  width: 55%;
}

.languages th {
  text-align: left;
}

.computer-img {
  border-radius: 50%;
  float: right;
  width: 150px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #f7fbfc;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
